/* Font Declarations */
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProLight.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProBlack.otf") format("opentype");
    font-weight: 900;
}

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir", sans-serif;
    color: #4a4a4a;
}

.hidden {
    display: none;
}

main {
    margin-top: 64px;
}

/* Text Stylings */
h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #4c91e2;
}

/* Navigation */
nav#large {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

nav#large .logo {
    height: 32px;
}

nav#large ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

nav#large ul li a {
    font-weight: 100;
    text-decoration: none;
    color: #4a4a4a;
}

/* Banner */
.banner {
    background-color: #d8d8d8;
    display:flex;
    justify-content: space-between;
    padding: 32px 24px;
}

.banner .campus {
    width: 60%;
    object-fit: contain;
}

.banner .text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    padding: 24px;

}

.banner .text h1 {
    margin-bottom: 32px;
}

.banner .text h2 {
    margin-bottom:24px;
}

.banner .text #start-here {
    padding: 8px;
    width: 100%;
    background-color: #4a4a4a;
    border: 0;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    font-weight: 100px;
    color: #fff;
}
/* Information */

.information {
    display:flex;
}

/* Information - Main */
.information .info-main {
    width: 60%;
    padding: 32px 24px;
    line-height: 1.4;
    border-right: 1px solid #d8d8d8;
}

.information .info-main .info-main-img {
    width: 60%;
    object-fit: contain;
}

.information .info-main h1 {
    margin: 32px 0 24px;
}

.information .info-main p#strategist-name {
    margin-top: 32px;
}

/* Information + Thesis - Details */
.information .details {
    display: flex;
    flex-direction: column;
    width: 40%;
}

/* Information + Thesis - Details - Details Card */

.information .details .details-card,
.thesis .other-thesis .details .details-card  {
    display: flex;
    padding: 16px;
    border: 1px solid #d8d8d8;
}

.information .details .details-card .details-img-desktop,
.thesis .other-thesis .details .details-card .details-img {
    width: 35%;
    height: auto;
    object-fit: contain;
    margin-right: 16px;
}

.information .details .details-card .details-text,
.thesis .thesis-exhibits .other-thesis .details .details-card .details-text {
    width: 65%;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}

/* Special details card - For the Lecturer : Oliver Sack */
.information .details .details-card#lecturer {
    background-color: #d8d8d8;
    margin-bottom: 64px;
}

/* Course */
.course {
    padding: 32px 72px;
    background-color: #eaebec;
}

.course h1 {
    text-align: center;
    margin-bottom: 32px;
}

.course .course-cards {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.course .course-cards .course-card {
    display: flex;
    width: calc(90%/3);
    flex-grow: 1;
    flex-direction: column;
    background-color: #fff;
}

.course .course-cards .course-card .course-card-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.course .course-cards .course-card .course-card-text {
    display: flex;
    gap: 8px;
    flex-direction: column;
    line-height: 1.4;
    padding: 16px 16px 24px;
}

.course .course-cards .course-card h2 {
    padding-top: 16px;
    margin-left: 16px;
}

/* Thesis */
.thesis {
    padding: 32px 24px;
}

.thesis h1 {
    text-align: center;
    margin-bottom: 32px;
}

.thesis .thesis-exhibits {
    width: 100%;
    display: flex;
    gap: 24px;
}

.thesis .thesis-exhibits .urban {
    width: 60%;
}

.thesis .thesis-exhibits .urban .urban-video {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.thesis .thesis-exhibits .urban .urban-text {
    line-height: 1.4;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.thiesis .thesis-exhibits .other-thesis {
    width: 40%;
}

.thesis .thesis-exhibits .other-thesis .details {
    width: 100%;
}

.thesis .thesis-exhibits .other-thesis .details .details-card#fisma {
    background-color: #d8d8d8;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
}

footer ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

footer ul li a {
    font-weight: 100;
    color: #4a4a4a;
}

@media only screen and (max-width: 574px) {
    /* Navigation - mobile */
    nav#large {
        display: none;
    }

    nav#mobile {
        display: flex;
        align-items: center;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 64px;
    }
    
    nav#mobile ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav#mobile ul li {
        list-style-type: none;
    }

    /* Banner - mobile */

    .banner {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .banner .campus {
        width: 100%;
    }

    .banner .text {
        padding: 32px 16px;
    }

    .banner .text #start-here {
        background-color: #9b9b9b;
    }

    /* Information - mobile */

    .information .info-main {
        display: none;
    }

    .information .details {
        width: 100%;
    }

    .information .details .details-card {
        flex-direction: column;
        padding: 0;
        border: 0;
        margin-bottom: 64px;
    }

    .information .details .details-card .details-img-desktop {
        display: none;
    }

    .information .details .details-card .details-img-mobile {
        display: block;
        width: 100%;
        padding: 16px;
    }

    .information .details .details-card .details-text {
        width: 100%;
        padding: 16px;
    }

    .information .details .details-card#lecturer {
        background-color: #fff;
        margin-bottom: 32px;
    }

    .information .details .details-card#lecturer h2#guest-lecture {
        display: none;
    }

    .information .details .details-card#lecturer h2#guest-lecture-mobile {
        display: block;
    }

    /* Course - mobile */

    .course {
        padding: 32px 16px;
        background-color: #fff;
        border: 1px solid #d8d8d8;
    }

    .course h1 {
        margin-bottom:16px;
    }

    .course .course-cards {
        gap: 8px;
    }

    .course .course-cards .course-card {
        width: 100%;
        background-color: #d8d8d8;
    }

    .course .course-cards .course-card h2 {
        padding: 16px 16px 24px;
        margin: 0;
    }

    .course .course-cards .course-card .course-img,
    .course .course-cards .course-card .course-card-text {
        display: none;
    }

    .course .course-cards .course-card .course-card-text h2 {
        display: block;
    }

    /* Thesis - mobile */
    .thesis {
        padding: 0;
    }

    .thesis h1 {
        margin: 32px 0 16px;
    }

    .thesis .thesis-exhibits .urban .urban-text,
    .thesis .thesis-exhibits .other-thesis {
        display:none;
    }

    .thesis .thesis-exhibits .urban {
        width: 100%;
    }

    .thesis .thesis-exhibits .urban .urban-video {
        margin-bottom: 24px;
    }
    
    /* Footer - mobile */
    footer ul {
        display: none;
    }
}
