/* Font Declarations */
@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProLight.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTProBlack.otf") format("opentype");
    font-weight: 900;
}

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Avenir", sans-serif;
    color: #4a4a4a;
}

.hidden {
    display: none;
}

main {
    margin-top: 64px;
}

/* Text Stylings */
h1 {
    font-size: 36px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

/* Navigation */
nav#large {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
}

nav#large .logo {
    height: 32px;
}

nav#large ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

nav#large ul li a {
    font-weight: 100;
    text-decoration: none;
    color: #4a4a4a;
}

/* Banner */
.banner {
    background-color: #d8d8d8;
    display:flex;
    justify-content: space-between;
    padding: 32px 24px;
}

.banner .campus {
    width: 60%;
    object-fit: contain;
}

.banner .text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    padding: 24px;

}

.banner .text h1 {
    margin-bottom: 32px;
}

.banner .text h2 {
    margin-bottom:24px;
}

.banner .text #start-here {
    padding: 8px;
    width: 100%;
    background-color: #4a4a4a;
    border: 0;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    font-weight: 100px;
    color: #fff;
}
/* Information */

/* Course */

/* Thesis */

/* Footer */

@media only screen and (max-width: 550px) {
    /* Navigation - mobile */
    nav#large {
        display: none;
    }

    nav#mobile {
        display: flex;
        align-items: center;
        background-color: #fff;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 64px;
    }
    
    nav#mobile ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav#mobile ul li {
        list-style-type: none;
    }
    
    /* Banner - mobile */

    .banner {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .banner .campus {
        width: 100%;
    }

    .banner .text {
        padding: 32px 16px;
    }

    .banner .text #start-here {
        background-color: #9b9b9b;
    }

    /* Information - mobile */

    /* Course - mobile */

    /* Thesis - mobile */

    /* Footer - mobile */
}
